<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="AuthenticationAuthorityEndpoint" value="https://login.windows.net" />
    <add key="GraphEndpoint" value="https://graph.windows.net" />
    <add key="CommonDomain" value="common" />
    <add key="ResourceUrl" value="https://api.partnercenter.microsoft.com" />
    <add key="RedirectUrl" value="http://localhost" />
    
    <!-- The active directory application ID used by the user login, paste your application ID here. -->
    <add key="ApplicationId" value="YOUR APP ID" />

    <!-- The active directory user credentials, paste your credentials here. -->
    <add key="UserName" value="YOUR USER NAME" />
    <add key="Password" value="YOUR PASSWORD" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
